cython
numpy
python-dateutil
pandas
scipy
statsmodels
matplotlib
seaborn
scikit-learn
sympy
opencv-python
pillow
pymc3
ipython
ipykernel
jupyter
nbconvert
nbformat
pydantic
tensorflow
keras
lightgbm
xgboost
catboost
prophet
nltk
spacy
gensim
scrapy
beautifulsoup4
plotly
bokeh
shap
missingno
sqlalchemy
duckdb
arrow
pyarrow
dask
psycopg2
pymysql
prefect
pre-commit
pytest
pytest-asyncio
pathvalidate
coverage>=5.3
diskcache
termcolor
python-dotenv
tiktoken
docker
redis
networkx
replicate
markdownify
pypdf
pdfminer.six
wolframalpha
selenium
flask
fastapi
streamlit
celery
joblib
flaml
flaml[blendsearch]
sentence-transformers
huggingface-hub
chromadb
langchain
cohere
openai
unstructured[all-docs]
llama-index
pyautogen
autogenstudio
pyod
imbalanced-learn
featuretools
yellowbrick
optuna
ray
pytesseract
pendulum
greenlet
aiohttp
google-generativeai
pydash
pandas-ta
ccxt